@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800;900&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

:root {
    --primary-color: #525252;
    --secondary-color: #ffffff;
    --background-color: #f8f9fa;
    --container-background: #ffffff0d;
    --border-color: #ddd;
    --shadow-color: #0000001a;
    --title-color : #818181;
}
footer {
    top: 98%;
    position: absolute;
}
.header-container {
    position: sticky !important;
    top: 20px !important;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url(../img/back.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    color: #fff !important;
  
  }
  textarea.form-control {
    height: auto;
}
  header h2 {
    font-size: 1.25rem !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 2vh 0px;
}
.btn2-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn2 {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}
.btn2-primary {
    background-color: var(--container-background) !important;
    border-color: var(--container-background) !important;
}
.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
  #contact {
    width: 100%;
    height: 80%;
    top: 10%;
    position: absolute;
}
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: var(--container-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
    backdrop-filter: blur(10px);
  }

  .form-horizontal {
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, textarea {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    max-width: 400px;
    background-color: #fff;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 500;
}  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  .btn2-primary {
    background-color: var(--container-background) !important;
    border-color: var(--container-background) !important;
  }
  
  .btn2-primary:hover {
    background-color: var(--title-color) !important;
    border-color: var(--title-color) !important;
  }
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  textarea {
    resize: none;
  }
  
  .direct-contact-container {
    max-width: 400px;
  }
  
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 10px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  .notifications {
    position: fixed;
    top: 15vh;
    right: 3%;
    color: #2a7818;
    transform: scale(1.3);
    z-index: 100001;

  }
  .notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
  }
  .notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
    z-index: 100001;
  }

  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  

    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
  @keyframes show_toast {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-5%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
  }
  @keyframes hide_toast {
    0% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(calc(100% + 20px));
    }
  }
  .toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
  }
  @keyframes progress {
    100% {
      width: 0%;
    }
  }
  .toast.success::before, .btn2#success {
    background: var(--success);
  }
  .toast.error::before, .btn2#error {
    background: var(--error);
  }
  .toast.warning::before, .btn2#warning {
    background: var(--warning);
  }
  .toast.info::before, .btn2#info {
    background: var(--info);
  }
  .toast .column i {
    font-size: 1.75rem;
  }
  .toast.success .column i {
    color: var(--success);
  }
  .toast.error .column i {
    color: var(--error);
  }
  .toast.warning .column i {
    color: var(--warning);
  }
  .toast.info .column i {
    color: var(--info);
  }
  .toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
  }
  .toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
  }
  .toast i:last-child:hover {
    color: var(--dark);
  }
  .buttons .btn2 {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
  }
  @media screen and (max-width: 530px) {
    .notifications {
      width: 95%;
      right: -80px;
    }
    .notifications .toast {
      width: 100%;
      font-size: 10px !important;
      width: 300px;
      top: 9vh;
      right: 5px;
    }
    .notifications .toast {
      font-size: 10px;
    }
    .toast .column span {
      font-size: 12px;
    }
    .buttons .btn2 {
      margin: 0 1px;
      font-size: 1.1rem;
      padding: 8px 15px;
    }
  }
  
  