@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;

}
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #252525;
	border-radius: 10px;
	background-color: #252525;
}

*::-webkit-scrollbar {
	width: 7px;
	background-color: #252525;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #616161;
	background-color: #616161;
}

main {
  flex: 1;
}


a {
  text-decoration: none;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-top {
  width: 50px;
  height: 50px;
}

.logo-container span {
  margin-left: 10px;
}


.btn {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url('../img/sky.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url('../img/bushes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url('../img/water.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url('../img/people1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url('../img/people2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url('../img/people3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  transition: transform 400ms;
}

.hero-text h2:hover {
  transform: scale(1.1);
}
.nom-container {
  display: none;
}
.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
  transition: transform 200ms;
}
.hero-text ul li:hover {
  transform: scale(1.2);
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  width: 100%;
  height: 25rem;
  z-index: -10;

}

.year-container img {
  font-family: Bebas, sans-serif;
  font-weight: 400;
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: -10;
  top: 60%;
  display: none;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
}

.year-container h1:nth-of-type(2) {
  left: 30%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 30%;
}

.year-container h1:nth-of-type(4) {
  right: 0;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container img {
  width: 75%;
  margin-bottom: 2.5rem;
  filter: saturate(1.5);
  border-radius: 1em;
}

.info-container h2,
.info-container p {
  margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}


footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.upper-section {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  margin: 10px;
  text-align: left;
}

.neon-underline {
  position: relative;
  text-decoration: none;
}

.neon-underline::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,
    hotpink 0%,
    rgb(255, 145, 0) 25%,
    rgb(217, 0, 255) 75%,
    rgb(246, 191, 255) 100%);
  box-shadow: 0 0 5px hotpink, 
              0 0 10px rgb(255, 145, 0), 
              0 0 15px rgb(217, 0, 255);
}

.logo-img {
  display: block;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.footer-header {
  margin-bottom: 16px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  margin-top: 10px;
}

.column a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.column a:hover {
  font-weight: bold;
  text-shadow: 0 0 5px hotpink, 
            0 0 10px rgb(255, 145, 0), 
            0 0 15px rgb(217, 0, 255); 
}

.column i {
  width: 12px;
  margin-right: 8px;
}

.lower-section {
  width: 100%;
  border-top: 1px solid white;
  margin-top: 10px;
  padding-top: 10px;
}

.lower-section p {
  font-size: 14px;
}


@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
    width: 75%;
    margin: 1rem 0;
  }

  .text-container p:nth-of-type(1) {
    font-size: 0.86rem;
  }
}

@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}


@media (max-width: 768px) {
  .upper-section {
    flex-direction: column;
    justify-content: center;
  }

  .column {
    width: 100%;
  }

  .column ul li, h3, img {
    text-align: center;
    margin: 5px 10px;
  }

  .logo-img {
    margin: 20px auto;
  }

  .logo-container {
    display: none;
  }
  *::-webkit-scrollbar-track {
    display: none;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  *::-webkit-scrollbar-thumb {
    display: none;
  }
  .btn:first-child {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    transition: all 0.3s ease-in-out;
    right: 0;
    position: absolute;
  }

  .nom-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .neon-underline::after {
    width: 24vw;
    left: calc(50% - 12vw);
  }
}
.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond avec transparence */
  backdrop-filter: blur(10px); /* Effet de flou */
  z-index: 1001; /* Valeur z-index plus élevée pour que l'en-tête soit au-dessus de .info-container */
  transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
}



.header-container.scrolled {
  background-color: rgba(255, 255, 255, 1); /* Couleur de fond solide au défilement */
}
.parallax__group.info-container {
  position: relative;
  z-index: 1; /* Assurez-vous que l'élément .info-container est en-dessous de l'en-tête */
}