:root {
    --primary-color: #007bff;
    --secondary-color: #555;
    --background-color: #f8f9fa;
    --container-background: #fff;
    --border-color: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: var(--container-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-size: 36px;
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
}

.rule {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.rule h2 {
    margin-bottom: 10px;
}

.rule p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.rule p:last-child {
    margin-bottom: 0;
}

.rule p:first-letter {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: bold;
    margin-right: 5px;
}

.rule p.rule-name {
    margin-bottom: 5px;
    font-weight: bold;
}
